# UI options
THEME=bootstrap
NAVBAR_CLASS=dark
NAVBAR_BG_CLASS=dark
DEBUG=false

# Classic controller example
CONTROLLERS_0_TYPE=classic
CONTROLLERS_0_NAME=Home
CONTROLLERS_0_URL=https://192.168.1.1:443
CONTROLLERS_0_USER=local-admin
CONTROLLERS_0_PASSWORD=change-me
CONTROLLERS_0_VERIFY_SSL=false

# Official API example
CONTROLLERS_1_TYPE=official
CONTROLLERS_1_NAME=Office
CONTROLLERS_1_URL=https://network.example.com
CONTROLLERS_1_TOKEN=replace-with-api-token
CONTROLLERS_1_VERIFY_SSL=true

# Optional API Browser login users
USERS_0_USER_NAME=admin
USERS_0_PASSWORD=admin
USERS_1_USER_NAME=readonly
USERS_1_PASSWORD_HASH=9b71d224bd62f3785d96d46ad3ea3d73319bfbc2890caadae2dff72519673ca72323c3d99ba5c11d7c7acc6e14b8c5da0c4663475c2e5c3adef46f73bcdec043
